body,html{
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;

}

*{
  padding: 3px;
  margin-right: 3px;
  border-radius: 5px;
}

.layout-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.history-show{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}